body {
     background: linear-gradient(to bottom, rgba(33,31, 28, 1) 0%, rgba(76,71, 49, 1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
}

p {
font-style: italic;
color: F4E3BA;
font-size: 16;
}
